@font-face {
  font-family: "Outfit";
  src: url('fonts/Outfit.ttf');
}
.attribution {
  font-size: 11px; 
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: 'Outfit';
  color: hsl(215, 51%, 70%);
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
main {
  width: 342px;
  background-color: hsl(216, 50%, 16%);
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
}
hr {
  height: 1px;
  border-width: 0;
  color: hsl(215, 32%, 27%);
  margin: 20px 0px;
  background-color: hsl(215, 32%, 27%);
}
p+div {
  display: flex;
  justify-content: space-between;
}
hr+div {
  display: flex;
  align-items: center;
}
h2, hr+div>span {
  color: hsl(0, 0%, 100%);
}
hr+div>span:hover {
  color: hsl(178, 100%, 50%);
}
h2:hover {
  color: hsl(178, 100%, 50%);
}
p+div>span {
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
}
p+div>span+span {
  color: hsl(215, 51%, 70%);
}
p+div span svg {
  margin-right: 10px;
}
hr+div>img {
  border-style: solid;
  border-radius: 33px;
  border-color: hsl(0, 0%, 100%);
  border-width: 1px;
  margin-right: 20px;
}
.image {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}
main>.image>img {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: hsl(178, 100%, 50%);
  border-radius: 10px;
}
.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
.image:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}
.image:hover .overlay+.view {
  display: block;
}
